body {
background-color: darkgray;
font-family: Arial;
font-size: 21;
}
header {
width: 800px;
margin: 5px;
background-image: linear-gradient(dimgray, darkgray);
padding: 5px
}

nav {
	width: 800px;
margin: 5px;
background-image: linear-gradient(gray, darkgray);
padding: 5px
}

main {
height: 550px;
}

#Section1 {
width: 800px;
height: 550px;
float: left;
margin: 5px;
background-image: linear-gradient(silver, dimgray);
padding: 0px 5px;
}

#Section2 {
width: 235px;
float: left;
height: 550px;
padding: 5px;
background-color: aliceblue;
padding: 5px
}

footer {
	width: 810px;
	margin: 5px;
	background: limegreen;
}

.sideImage {
height: 150px;
width: 230px;
padding: 0px;
}

h1 {
	float: left:
}

.icon {
	height: 80px;
	width: 80px;
	float: right;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lawngreen
}

nav li {
	float: left;
}

nav li a {
	float: block;
	color: salmon;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: SaddleBrown;
}